POSTGRES_PASSWORD=change-me
MAIQ_PUBLIC_URL=https://maiq.example
MAIQ_TURNSTILE_SITE_KEY=
MAIQ_TURNSTILE_SECRET=
MAIQ_DISCORD_APPLICATION_ID=
MAIQ_DISCORD_PUBLIC_KEY=
MAIQ_DISCORD_TOKEN=
MAIQ_DISCORD_CLIENT_SECRET=
MAIQ_SESSION_SECRET=
MAIQ_ADMIN_IDS=
